<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h1>Создать гостя</h1>
	</div>
</div>


<div class="row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<form class="form-horizontal" method="POST" action="/index.php?r=persons/add">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<input class="form-control" type="text" name="second_name" placeholder="Фамилия">
				</div>
				<div class="col-xs-12 col-sm-4">
					<input class="form-control" type="text" name="name" placeholder="Имя">
				</div>
				<div class="col-xs-12 col-sm-4">
					<input class="form-control" type="text" name="middle_name" placeholder="Отчество">
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<input class="form-control" type="text" name="second_name" placeholder="Фамилия">
				</div>
				<div class="col-xs-12 col-sm-6">
					<input class="form-control" type="text" name="name" placeholder="Имя">
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<input class="form-control" type="text" name="second_name" placeholder="Фамилия">
				</div>
				<div class="col-xs-12 col-sm-6">
					<input class="form-control" type="text" name="name" placeholder="Имя">
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<input class="form-control" type="text" name="second_name" placeholder="Фамилия">
				</div>
				<div class="col-xs-12 col-sm-6">
					<input class="form-control" type="text" name="name" placeholder="Имя">
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-sm-offset-2">
					<input class="form-control" type="submit" name="" class="btn btn-primary" value="Сохранить" />
				</div>
				<div class="col-xs-12 col-sm-2 col-sm-offset-2">
					<input class="form-control" type="submit" name="" class="btn btn-primary" value="Сохранить" />
				</div>
			</div>
		</form>
	</div>
</div>