

<div class="popup end popup_d">
	<form class="form">
		<input type="hidden" name="r" value="persons/visitend">
    	<h3 class="super">700<span>р</span></h3>
    	<div class="discont"><input type="text" name="" placeholder="Скидка"></div>
	
		
		<h2>Иванов Иван Николаевич<span>#105</span></h2>
		<div class="row ta-c mini">
			<p class="col-xs-12 col-sm-4">VIP</p>
			<p class="col-xs-12 col-sm-4">ivanov@mail.ru</p>
			<p class="col-xs-12 col-sm-4">+79118787654</p>
		</div>

		<div class="line"></div>


		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<p class="big"><span>с</span> 12:20</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p class="big"><span>по</span> 14:40</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p class="big"><span>всего</span> 2:20</p>
			</div>     
		</div>

		<div class="line"></div>

		<h4>Покупки</h4>
		<div class="row mini">
			<div class="col-xs-12 col-sm-5"><p>Наименование</p></div>
			<div class="col-xs-12 col-sm-2"><p>Кол-во</p></div>
			<div class="col-xs-12 col-sm-2"><p>Цена</p></div>
			<div class="col-xs-12 col-sm-2"><p>Сумма</p></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5"><p>Кофе латте</p></div>
			<div class="col-xs-12 col-sm-2"><p>1 шт</p></div>
			<div class="col-xs-12 col-sm-2"><p>120р</p></div>
			<div class="col-xs-12 col-sm-2"><p>120р</p></div>
			<div class="col-xs-12 col-sm-1"><a class="btn_del"></a></div>     
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5"><p>Магнитик</p></div>
			<div class="col-xs-12 col-sm-2"><p>2 шт</p></div>
			<div class="col-xs-12 col-sm-2"><p>150р</p></div>
			<div class="col-xs-12 col-sm-2"><p>300р</p></div>
			<div class="col-xs-12 col-sm-1"><a class="btn_del"></a></div>     
		</div>



		<div class="line"></div>

		<h4>До-продажа</h4>
		<div class="row mini">
			<div class="col-xs-12 col-sm-5"><p>Наименование</p></div>
			<div class="col-xs-12 col-sm-2"><p>Кол-во</p></div> 
			<div class="col-xs-12 col-sm-2"><p>Цена</p></div> 
			<div class="col-xs-12 col-sm-2"><p>Сумма</p></div>     
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<select class="control-label" placeholder="Наименование">
					<option>Чай в пакетике</option>
					<option>Чай заворной</option>
					<option>ЧКофе латте</option>
				</select>
			</div>
			<div class="col-xs-12 col-sm-2"><input type="text" name="count" /></div> 
			<div class="col-xs-12 col-sm-2"><p>100p</p></div> 
			<div class="col-xs-12 col-sm-2"><p>300р</p></div>
			<div class="col-xs-12 col-sm-1"><a class="btn_del"></a></div>
		</div>



		<div class="mt50"></div>

		<div class="row">
			<div class="col-xs-12 col-sm-3"> <a href="" class="btn btn_grey">Я случайно</a></div>
			<div class="col-xs-12 col-sm-3"> <!--a href="/index.php?r=visits/update&amp;id=1" class="btn btn_grey">Редактировать</a--></div>   
			<div class="col-xs-12 col-sm-3"> <!--a href="/index.php?r=visits%2Fdelete&amp;id=1" class="btn btn-danger" title="Delete" aria-label="Delete" data-confirm="Are you sure you want to delete this item?" data-method="post" data-pjax="0">Удалить</a--></div>   
			<div class="col-xs-12 col-sm-3"> <a href="" class="btn btn-primary">Да, завершить!</a></div>   
		</div>


	</form>
</div>
